<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- 链接数据库的信息以后 都在该文件中配置 -->
<hibernate-configuration>

	<!-- 配置的是数据库的链接信息 -->
	<session-factory>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!--在连接池中所有数据库连接的最大数目 -->
		<property name="hibernate.c3p0.max_size">20</property>
		<!--在连接池中可用数据库连接的最小数目 -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="automaticTestTable">Test</property>
		<!--可以被缓存的PreparedStatement的最大数目 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="c3p0.testConnectionOnCheckout">true</property>
		<property name="c3p0.idleConnectionTestPeriod">18000</property>
		<property name="c3p0.maxIdleTime">25000</property>
		<!-- 方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.8.40:1521:dukepu</property>
		<property name="hibernate.connection.username">dukepu</property>
		<property name="hibernate.connection.password">GuXiangQing2019</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>



		
		<mapping class = "com.dukepu.entity.User_Info"/>
		<mapping class="com.dukepu.entity.SoftwareInfo" />
		<mapping class = "com.dukepu.entity.V_Products_Cost_Summary"/>
		<mapping class = "com.dukepu.entity.V_Products_C_And_Pic_Summary" />

	</session-factory>


</hibernate-configuration>